<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sfr.dbuttonapplication">

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 连接网络权限，用于执行云端语音能力 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 读取网络信息状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取当前wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 读取手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 读取联系人权限，上传联系人需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 外存储写权限，构建语法需要用到此权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 外存储读权限，构建语法需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 配置权限，用来记录应用配置信息 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 手机定位信息，用来为语义等功能提供定位，提供更精准的服务 -->
    <!-- 定位信息是敏感信息，可通过Setting.setLocationEnable(false)关闭定位请求 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 如需使用人脸识别，还要添加：摄相头权限，拍照需要用到 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".DButtonApplication"
        android:allowBackup="true"
        android:icon="@mipmap/dbutton_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/dbutton_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PhoneSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.LoadingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.RegisterDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.RegisterSucessActivity"
            android:screenOrientation="portrait" />

        <service android:name="com.icen.blelibrary.services.BleManagerService">
            <intent-filter>
                <action android:name="com.icen.blelibrary.START_BLE_SERVICE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.alarm.AlarmDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.contact.ContactDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.contact.AddContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.contact.AddPhoneContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditUserDataActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.alarm.MyAlarmListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OTAUpdateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VersionUpdateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyDButtonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BindDButtonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DButtonExplainActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service android:name=".player.MusicPlayer" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="TdQceRVxgbZqQS8urES9ceP83Yn1V2We" />

        <activity android:name=".wxapi.WXEntryActivity" />

        <service
            android:name=".service.DButtonControlService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name="com.icen.blelibrary.ui.BleConfigActivity">
            <intent-filter>
                <action android:name="com.icen.icenlibs.BLE_CONFIG" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DownloadActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>